In [9]:
import pandas as pd
import numpy as np

In [18]:
df_confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df_deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
df_covid19 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv")

In [20]:
df_deaths.head(2)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,4,4,4,4,4,4,6,6,7,7
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,8,10,10,11,15,15,16,17,20,20

In [21]:
df_covid19.head(2)

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
0,Australia,2020-04-06 09:50:01,-25.0000,133.0000,5797,40,1080,4677
1,Austria,2020-04-06 09:42:25,47.5162,14.5501,12058,220,3463,8375

In [22]:
df_covid19.tail(2)

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
181,Zambia,2020-04-06 09:42:25,-13.133897,27.849332,39,1,3,35
182,Zimbabwe,2020-04-06 09:42:25,-19.015438,29.154857,9,1,0,8

In [24]:
df_confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,110,110,120,170,174,237,273,281,299,349
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,186,197,212,223,243,259,277,304,333,361
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,409,454,511,584,716,847,986,1171,1251,1320
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,267,308,334,370,376,390,428,439,466,501
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,4,5,7,7,7,8,8,8,10,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,NaN,Malawi,-13.254308,34.301525,0,0,0,0,0,0,...,0,0,0,0,0,0,3,3,4,4
258,Falkland Islands (Islas Malvinas),United Kingdom,-51.796300,-59.523600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [45]:
df_covid19.loc[5]

Country_Region                Finland
Last_Update       2020-04-06 09:42:25
Lat                           61.9241
Long_                         25.7482
Confirmed                        2176
Deaths                             28
Recovered                         300
Active                           1848
Name: 5, dtype: object

In [46]:
df_covid19

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
0,Australia,2020-04-06 09:50:01,-25.000000,133.000000,5797,40,1080,4677
1,Austria,2020-04-06 09:42:25,47.516200,14.550100,12058,220,3463,8375
2,Canada,2020-04-06 09:49:45,60.001000,-95.001000,15940,281,3081,0
3,China,2020-04-06 09:37:01,30.592800,114.305500,82665,3335,77310,2020
4,Denmark,2020-04-06 09:42:25,56.000000,10.000000,4841,179,1437,3225
...,...,...,...,...,...,...,...,...
178,Vietnam,2020-04-06 09:42:25,14.058324,108.277199,241,0,95,146
179,West Bank and Gaza,2020-04-06 09:42:25,31.952200,35.233200,252,1,25,226
180,Western Sahara,2020-04-06 09:42:25,24.215500,-12.885800,4,0,0,4
181,Zambia,2020-04-06 09:42:25,-13.133897,27.849332,39,1,3,35
182,Zimbabwe,2020-04-06 09:42:25,-19.015438,29.154857,9,1,0,8

In [48]:
len(df_covid19)

183

In [73]:
h = df_covid19

In [84]:
d = h.sort_values("Deaths", ascending=False)

In [85]:
d.head(15)

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
10,Italy,2020-04-06 09:42:25,41.871900,12.567400,128948,15887,21815,91246
159,Spain,2020-04-06 09:42:25,40.463667,-3.749220,131646,12641,38080,80925
17,US,2020-04-06 09:42:44,40.000000,-100.000000,337646,9648,17582,0
6,France,2020-04-06 09:42:25,46.227600,2.213700,93780,8093,16354,69333
16,United Kingdom,2020-04-06 09:42:25,55.000000,-3.000000,48451,4943,229,43279
89,Iran,2020-04-06 09:42:25,32.427908,53.688046,58226,3603,22011,32612
3,China,2020-04-06 09:37:01,30.592800,114.305500,82665,3335,77310,2020
11,Netherlands,2020-04-06 09:42:25,52.316700,5.550000,17965,1773,257,15935
32,Belgium,2020-04-06 09:42:25,50.833300,4.469936,20814,1632,3986,15196
7,Germany,2020-04-06 09:42:25,51.165700,10.451500,100132,1584,28700,69848
15,Switzerland,2020-04-06 09:42:25,46.818200,8.227500,21176,724,7298,13154
171,Turkey,2020-04-06 09:42:25,38.963700,35.243300,27069,574,1042,25453
39,Brazil,2020-04-06 09:42:25,-14.235000,-51.925300,11281,487,127,10667
14,Sweden,2020-04-06 09:42:25,60.128200,18.643500,6830,401,205,6224
140,Portugal,2020-04-06 09:42:25,39.399900,-8.224500,11278,295,75,10908